<!DOCTYPE html>

<html lang="zh-CN" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="./templates/css/home.css" type="text/css" >
</head>
<body>
<h1  id="app"> {{ message }}</h1>
<div id="app-2">
  <span class="blue_solid" v-bind:title="message">
    鼠标悬停几秒钟查aSAsSss看此处动态绑定的提示信息！
  </span>
</div>
<div id="app-5">
    <p id="message">{{ message }}</p>
    <button v-on:click="loadData">逆转消息</button>
</div>
<script src="templates/lib/vue/vue.js"></script>
<script src="templates/lib/axios/axios.js"></script>
<script src="templates/js/home.js"></script>
</body>
</html>
